.status_btn_student{
    background-color: #41AAC0;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    display: inline-block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}