
a:active {
  color: #016978;
  text-decoration: underline;
}

a:hover {
  color: #016978; 
  text-decoration: underline;
}

a:link {
  color: #016978;
  text-decoration: none;
}
  
a:visited {
  color: #016978; 
  text-decoration: none;
}
  
.button {
  background-color: #41AAC0; 
  border: none;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 100%;
} 

.button-home {
  background-color: #41AAC0; 
  border: none;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 200px;
} 

a.button-modal {
  background-color: #41AAC0; 
  border: none;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 100px;
} 

a.button-esquema {
  background-color: #41AAC0; 
  border: none;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 75px;
} 

.button-modal-cancel {
  color: #dc3545;
  border-color: #dc3545;
  background-color: #ffffff; 
  border-radius: 8px;
  display: inline-block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 100px;
} 

a.button-edit {
  background-color: #41AAC0; 
  border: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 8px;
  text-align: center;
  width: 140px;
}  

a.button-tya {
  background-color: #41AAC0; 
  color: #ffffff;
  width: 200px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}  

a.button-cancel {
  color: #dc3545;
  border-color: #dc3545;
  background-color: #ffffff; 
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  width: 140px;
}  

.button:hover, .button-home:hover, .button-modal:hover, .button-cancel:hover, a.button-tya:hover, a.button-esquema:hover, a.button-edit:hover{
  color: rgba(255, 255, 255, 0.7);
}

.button-modal-cancel:hover, a.button-cancel:hover {
  color: rgba(220, 53, 69, 0.9);
}
  
.contenedor_f1 {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_f2 {
  width: 345px;
  justify-content: center;
}

.contenedor_f3 {
  width: 100%;
  justify-content: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media (min-width: 500px) {
  .contenedor_f3 {
    max-width: 345px;
  }
}

.contenedor_f4 {
  text-align: center;
}

.contenedor_f5 {
  width: 300px;
  justify-content: center;
}

.contenedor_f6 {
  text-align: center;
}

.t-input{
  border:1px solid #ccc!important;
  border-bottom:1px solid #ccc;
  border-radius:8px;
  display:block;
  padding:8px;
  width:100%;
}

.navbar-iclase .navbar-brand {
  color: rgba(255, 255, 255);
}
.navbar-iclase .navbar-brand:hover, .navbar-iclase .navbar-brand:focus {
  color: rgba(255, 255, 255);
}
.navbar-iclase .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}
.navbar-iclase .navbar-nav .nav-link:hover, .navbar-iclase .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.7);
}
.navbar-iclase .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255);
}
.navbar-iclase .navbar-nav .show > .nav-link,
.navbar-iclase .navbar-nav .active > .nav-link,
.navbar-iclase .navbar-nav .nav-link.show,
.navbar-iclase .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255);
}
.navbar-iclase .navbar-toggler {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.6);
}
.navbar-iclase .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-iclase .navbar-text {
  color: rgb(255, 255, 255);
}
.navbar-iclase .navbar-text a {
  color: rgba(255, 255, 255);
}
.navbar-iclase .navbar-text a:hover, .navbar-iclase .navbar-text a:focus {
  color: rgb(255, 255, 255);
}

.bg-iclase {
  background-color: #3FC4DE;
}
.bg-iclase a {
  color: rgb(2, 2, 2);
}

.bg-blue a.dropdown-item {
  color: black;
}

.footer {
  height: 45px;
  margin-top: 10px;
  background-color: #3FC4DE;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
}

.footer p {
  color: #ffffff;
  margin: 0;
}

.tab-content {
  width: 50%;
  margin: auto;
  text-align: center;
}

.img-logo {
  width:55px;
  height: 55px; 
}

.img-avatar {
  width: 30px;
  height: 30px; 
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #358a9b;
}


.activity_card .info_tx_ a {
  color: #fff;
  background-color: #41AAC0;
  border-color: #41AAC0;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translate(0, -50%);
  display: flex;
  width: 75px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}